<!DOCTYPE html>
<html lang="en-US">


<body ng-app="cardApp">
<div>
  <p>This is Khans of Tarkir</p>
</div>


<!-- Modules -->
    <script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/HomeController.js"></script>




</body>
</html>