<!DOCTYPE html>
<html lang="en-US">

<body ng-app="cardApp">
<div class="header">
  <p>This is Khans of Tarkir</p>
</div>

<div class="image-container">
  <%= Card.all.each do |card|
    <a href="<% card.image %>" id="<% card.multiverseid %>"></a> %>
  <% end %>
</div>

<!-- Modules -->
    <script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/HomeController.js"></script>




</body>
</html>