<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="css/application.css">

</head>

<body>

  <p>The Library of Lat-Nam</p>

  <p>List of M:tG sets</p>
  <a href="khansoftarkir.html.erb">Khans of Tarkir</a>
</body>