<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="css/application.css">

</head>

<body>

  <h1>The Library of Lat-Nam</h1>

  <h2>List of M:tG sets</h2>
  <a href="khansoftarkir.html.erb">Khans of Tarkir</a>
</body>